In [1]:
# Program in python to print Hello World
print("Hello World")

Hello World

In [3]:
# Program in python to print Hello World in multiple lin=e by using back slash
print("Hello\
      World")

Hello      World

In [4]:
# Program in python to write a string wirthin Single quotes
print('Hello World')

Hello World

In [8]:
# Program in python to write a string wirthin double quotes
print("Hello World")

Hello World

In [9]:
# Program in python to visualize the use of escape sequence inside the program
print("Hello\tWorld")

Hello	World

In [10]:
print("Hello\nWorld")

Hello
World

In [26]:
# program in python to see the output in a formated manner
name="Satya"
mark=78.54
age=18
print(f"The name of person is {name} having mark{mark} age is {age}")

The name of person is Satya having mark78.54 age is 18

In [34]:
# program in python for variable
a=10
print(a)

10

# Program for different airthmetic operators

In [31]:
# program in python for addition operator
a=10
b=28
print(a+b)

38

In [33]:
#program in poython for substraction operator
a=120
b=80
print(a-b)

40

In [35]:
# program in python for multiplication operator
a=24
b=2
print(a*b)

48

In [36]:
# program in python for dividon operator
a=24
b=2
print(a/b)

12.0

In [38]:
# program in python for modulous operation
a=24
b=2
print(a%b)

0

In [40]:
# program in python for exponent operators
a=24
b=2
print(a**b)

576

In [41]:
# program in python  floor division operators
a=27
b=2
print(a//b)

13


# program for comparison operators

In [44]:
a=25
b=25
if(a is b):
    print("a and b have same identity")
else:
    print("a and b do not have same identity")

a and b have same identity

# program for assignment operators

In [45]:
x=43
y=7
z=x+y
print(z)

50

In [ ]:
# program in python for assignment operator
a=b=10
print(a, b)

In [48]:
z-=x
print(z)

93

In [50]:
z/=x
print(z)

93.0

In [51]:
z%=x
print(z)

7.0

In [55]:
# program in python for logical operators
a=100
b=200
print(a and b)
print(a or b)
print(not b)

200
100
False

In [56]:
# program in python for bitwise AND operator
x=1; y=2; z=3;
if(x<y and y<z): print("Yes")
else: print("No")

Yes

In [57]:
# program in python for bitwise OR operator
x=1; y=2;z=3;
if(x>y or y<z):print("Yes")
else:print("No")

Yes

In [58]:
# program in python for membership operator
names=["Rani","Yamini","Sushmita","Veena"]
for name in names:
    print(name)-

Rani
Yamini
Sushmita
Veena

# program for identity operators

In [60]:
# program in python for identity operators
a=25
b=25
id(a)
id(b)

140707204670608

# program in python for operator precedence

In [61]:
# program in python for operator precedence
n=3/2*4+3+(10/4)**3-2
print(n)

22.625